body{
    background-color: black;
    color:greenyellow;
    display:grid;
    grid-template:
    "head head head" 6em
    "nav nav nav" 10vh
    "main main main" auto
    "foot foot foot" auto;
}

header{
    grid-area: head;
    text-align: center;
}

nav{
    grid-area: nav;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 10px 1px greenyellow;
    border-top: 2px ridge greenyellow;
    border-bottom: 2px solid greenyellow;
    border-radius: 12px;
}

nav a{
    color:orange;
    margin-right: 50px;
    margin-left: 50px;
    transition: 0.5s;
}

nav a:hover{
    font-size: 1.5em;
    transition: 0.5s;
}

main{
    grid-area: main;
    color: orange;
    text-align: center;
    padding-bottom: 2.5rem;
}


main p{
    transition: 0.5s;
    animation: 5s fadein;
    cursor: default;
    margin: auto;
    padding: 5px;
}

main p:hover{
    font-size: 1.2em;
    transition: 0.5s;
}

footer{
    grid-area: foot;
    text-align: center;
    border-top: 3px ridge violet;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 1px violet;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 2s;
}

#scoreSymbol{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    transition: 0.5s;
}
#scoreSymbol:hover{
    width: 60px;
    transition: 0.5s;
}

#rulesTextArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rulesImg{
    animation: 5s fadein;
}

#Buttons{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin: 20px;
}

#hand{
    background-color: transparent;
    cursor: pointer;
}

#gameImage{
    transition: 0.5s;
    border-top: 1px solid cyan;
    border-bottom: 1px solid cyan;
    border-radius: 12px;
    padding: 12px;
    animation: 5s fadein;
}

#gameImage:hover{
    width: 100px;
    box-shadow: 
    inset 0px 8px 6px -6px cyan, 
    inset 0px 8px 6px -6px cyan, 
    inset 0px -8px 6px -6px cyan, 
    inset 0px -8px 6px -6px cyan;
    transition: 0.5s;
}

#gameImage:active{
    border-top: 1px solid greenyellow;
    border-bottom: 1px solid  greenyellow;

    box-shadow: 
    inset 0px 8px 6px -6px greenyellow, 
    inset 0px 8px 6px -6px greenyellow, 
    inset 0px -8px 6px -6px greenyellow, 
    inset 0px -8px 6px -6px greenyellow;

}

#startButton, #playAgainBtn{
    background-color: transparent;
    color:greenyellow;
    font-size: 3em;
    border: 5px ridge greenyellow;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px greenyellow;
    margin: 100px;
    transition: 0.5s;
}

#startButton:hover, #playAgainBtn:hover{
    box-shadow:  0px 0px 30px 1px greenyellow, inset 0px 0px 50px 1px black;
    background-color:greenyellow;
    color: black;
    font-size: 3.5em;
    cursor:pointer;
    transition: 0.5s;
}

#startButton:active, #playAgainBtn:active{
    box-shadow:  0px 0px 30px 1px greenyellow, inset 5px 5px 30px 10px black;
    transition: 0s;
}

#playAgainBtn{
    visibility: hidden;
}

@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}